<div class="main-container">
  <div class="temperature-section-container">
    <div class="text-for-temperature-container">
      <div class="text-for-temperature">Room temperature</div>
      <div class="text-for-temperature">Fridge temperature</div>
    </div>

    <div class="choose-temperature-of-egg">
      <% if @room_temp %>
        <%= image_tag 'room.png', class: 'temp-image' %>
      <% end %>

      <% if @fridge_temp %>
        <%= image_tag 'fridge.png', class: 'temp-image' %>
      <% end %>
    </div>
  </div>
</div>
