<%= form_with(model: @temperature, local: true) do |form| %>
  <div class="field">

    <%= form.label :ambient_temp %>
    <%= form.select :ambient_temp, ['room_temp', "fridge_temp"] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
