.main-container-for-eggs {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.secondary-container {
  margin-top: 50px;
  // border: 3px solid #3F497F;
  // border-radius: 10px;
}

.choose-desired-egg-size {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 600px;
}

.egg-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;

  img {
    width: 130px;
    height: 150px;
    border-radius: 20%;
    background-size:cover ;
  }
}

.size-text-container {
  display: flex;
  justify-content: space-between;
  // width: 530px;
  font-size: 30px;
  font-weight: 500;
  // margin-top: 50px;
  margin-left: 75px;

}


.size-text-small {
  padding: 15px 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3F4975;
  transition: all 0.3s ease;
  // width: 110px;
  border-radius: 20px;
  background-color: rgb(200, 200, 200);

}

.small-h2-text h2 {
  font-size: 70px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}


.size-text-medium {
  padding: 15px 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3F4975;
  transition: all 0.3s ease;
  // width: 110px;
  border-radius: 20px;
  background-color: rgb(200, 200, 200);

}

.medium-h2-text h2 {
  font-size: 70px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;

}
.yellow-text {
  color: yellow;
}

.size-text-large {
  padding: 15px 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3F4975;
  transition: all 0.3s ease;
  // width: 110px;
  border-radius: 20px;
  background-color: rgb(200, 200, 200);
}

.large-h2-text h2 {
  font-size: 70px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

.highlighted {
  border: 2px solid #3F497F;
  border-radius: 15px;
  background-color: #009FBD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  // background-color: #15202b;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.text-for-selecting-your-egg-size {
  text-align: center;
  margin-top: 40px;
}

.first-part-eggs-choices-container {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  // border: 2px solid black;
  margin: auto;
  // width: 1800px;
  // background-color: #f6e28a;
  background-color:rgba(200, 200, 200, 0.313);

}

.main-container-for-boiling-egg-results {
  background-color: #fffbfa;
  display: grid;
  justify-content: center;
  height: 400px;
  width: 500px;

  .results-calculation-container {
    width: 630px;
    box-shadow: 5px 5px 5px #d2a99e;
    text-align: center;
  }

  .second-results-calculation-container {
    width: 630px;
    box-shadow: 5px 5px 5px #d2a99e;
    text-align: center;
  }
}

.results-btn-container {
  margin-top: 30px;
  margin-bottom: 40px;

}

//
// Results CSS
//

.result-container-for-soft-boiled-and-hard-boiled-egg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .main-container-for-boiling-soft-egg-results {
    width: 600px;
    // height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .results-calculation-container {
      width: 300px;
      height: 100px;
      border: 2px solid black;
    }
  }

  .main-container-for-boiling-hard-egg-results {
    width: 600px;
    // height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}





@media only screen and (max-width: 550px) {
  .text-for-temperature-container {
    width: 750px;
  }
}

@media only screen and (max-width: 550px) {
  .first-part-eggs-choices-container {
    width: 750px;
  }
}

@media only screen and (max-width: 550px) {
  .navbar {
    width: 750px;
  }
}


@media only screen and (max-width: 390px) {
  .text-for-temperature-container {
    width: 750px;
  }
}

@media only screen and (max-width: 390px) {
  .first-part-eggs-choices-container {
    width: 750px;
  }
}

@media only screen and (max-width: 390px) {
  .navbar {
    width: 750px;
  }
}
