<%= form_with(model: @presure) do |f|%>

  <div class="field">
    <%= f.label :atmo_presure %>
    <%= f.select :atmo_presure, ['Sea level', "Altitude"] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
